
<!DOCTYPE html>
<html>
<head>
    <title>TEST EMAIL</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        This is a test Email.

    </p>
    <h1>@ViewBag.Key</h1>
    <p>Copy and Past this code to active your account</p>
    <p style="font-size:18px;">
        Thank You :
    </p>
    <h1>Rahul Rj</h1>
    
</body>
</html>
